<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>React Lists</title>
        <link rel="stylesheet" href="/material/css/materialize.css" type="text/css" />
    </head>
    <body class="grey lighten-4">
        <div class="app">{{APP}}</div>
        <script src="/main.js"></script>
    </body>
</html>